# SUI network (devnet | testnet | mainnet)
NEXT_PUBLIC_SUI_NETWORK=testnet

# After deploying contracts, add package IDs here and in packages/blockchain/sdk/networkConfig.ts
NEXT_PUBLIC_PACKAGE_ID=0x470bfc45bf7dbc92bed9bf723ca7335b189332a909f5d1370622993600876666
